<div class="panel panel-primary col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="panel-heading"><i class="fa fa-search">CAMT search tool</i></div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="keyword here">
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
</div>
